NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD6d-0yUvP9jYRXbkdGpN-JJ0Tat_ZpH8c
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=lifetracker-87a61.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=lifetracker-87a61
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=lifetracker-87a61.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1063129581150
NEXT_PUBLIC_FIREBASE_APP_ID=1:1063129581150:web:0af09c9177f5baf20556cf
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-96TZ4HT34P
